= form_for @user, url: step4_signup_index_path, method: :get, html: {class: 'third-wrapper__box'} do |f|
  = f.text_field :address_number, placeholder: '例) 123-4567', required:"required"
  = f.text_field :address_prefecture, placeholder: '例) 北海道', required:"required"
  = f.text_field :address_name, placeholder: '例) 横浜市緑区', required:"required"
  = f.text_field :address_block, placeholder: '例) 青山1-1-1', required:"required"
  = f.text_field :address_building, placeholder: '例) 柳ビル103', required:"required"
  = f.text_field :address_phone_number, placeholder: '例) 09012345678', required:"required"
  = f.submit '次へ進む', class: 'register-profile__nextpage'