= form_for @user, url: signup_index_path, method: :post, action: "create", html: {class: 'forth-main-wrapper__box'} do |f|
  = f.text_field :card_number, required:"required"
  = f.text_field :expiry_date_month, required:"required"
  = f.text_field :expiry_date_year, required:"required"
  = f.text_field :security_code, required:"required"
  = f.submit '次へ進む', class: 'register-profile__nextpage'