= render 'layouts/header'
= render 'layouts/advertisement'
.funcBtn
  = link_to "出 品", "/items/new", class: "funcBtn"
.main-container
  .popular
    %h2.popular__title 人気のカテゴリー
    .popular__body
      %ul.popular__body__list
        %li.popular__body__list__item
          = link_to "レディース", "#ladies", class: "popular__body__list__btn"
        %li.popular__body__list__item
          = link_to "メンズ", "#mens", class: "popular__body__list__btn"
        %li.popular__body__list__item
          = link_to "家電・スマホ・カメラ", "#appliance", class: "popular__body__list__btn"
        %li.popular__body__list__item
          = link_to "おもちゃ・ホビー・グッズ", "#toys", class: "popular__body__list__btn"
  .newcomers
    .newcomers__group
      .newcomers__group__header{name: "scroll-1"}
        %h3{ id: "ladies" } レディース新着アイテム
        = link_to "もっと見る ＞", "/jp/category/1/", class: "newcomers__group__header__more"
      .newcomers__group__list
        - @items.each do |item|
          = link_to item_path(item.id) do
            .newcomers__group__list__item
              = image_tag item.image, class: "newcomers__group__list__item__image"
              .newcomers__group__list__item__price
                = item.price
              .newcomers__group__list__item__name
                .newcomers__group__list__item__name__text
                  = item.name
  .newcomers
    .newcomers__group
      .newcomers__group__header{name: "scroll-1"}
        %h3{ id: "mens" }  メンズ新着アイテム
        = link_to "もっと見る ＞", "/jp/category/1/", class: "newcomers__group__header__more"
      .newcomers__group__list
        - @items.each do |item|
          = link_to item_path(item.id) do
            .newcomers__group__list__item
              = image_tag item.image, class: "newcomers__group__list__item__image"
              .newcomers__group__list__item__price
                = item.price
              .newcomers__group__list__item__name
                .newcomers__group__list__item__name__text
                  = item.name
  .newcomers
    .newcomers__group
      .newcomers__group__header{name: "scroll-1"}
        %h3{ id: "appliance" }  家電・スマホ・カメラ新着アイテム
        = link_to "もっと見る ＞", "/jp/category/1/", class: "newcomers__group__header__more"
      .newcomers__group__list
        - @items.each do |item|
          = link_to item_path(item.id) do
            .newcomers__group__list__item
              = image_tag item.image, class: "newcomers__group__list__item__image"
              .newcomers__group__list__item__price
                = item.price
              .newcomers__group__list__item__name
                .newcomers__group__list__item__name__text
                  = item.name
  .newcomers
    .newcomers__group
      .newcomers__group__header{name: "scroll-1"}
        %h3{ id: "toys" }  おもちゃ・ホビー・グッズ新着アイテム
        = link_to "もっと見る ＞", "/jp/category/1/", class: "newcomers__group__header__more"
      .newcomers__group__list
        - @items.each do |item|
          = link_to item_path(item.id) do
            .newcomers__group__list__item
              = image_tag item.image, class: "newcomers__group__list__item__image"
              .newcomers__group__list__item__price
                = item.price
              .newcomers__group__list__item__name
                .newcomers__group__list__item__name__text
                  = item.name
  .popular
    %h2.popular__title 人気のブランド
    .popular__body
      %ul.popular__body__list
        %li.popular__body__list__item
          = link_to "シャネル", "#chanel", class: "popular__body__list__btn"
        %li.popular__body__list__item
          = link_to "ルイヴィトン", "#louisvuitton", class: "popular__body__list__btn"
        %li.popular__body__list__item
          = link_to "シュプリーム", "#supreme", class: "popular__body__list__btn"
        %li.popular__body__list__item
          = link_to "ナイキ", "#nike", class: "popular__body__list__btn"
  .newcomers
    .newcomers__group
      .newcomers__group__header{name: "scroll-1"}
        %h3{ id: "chanel" } シャネル新着アイテム
        = link_to "もっと見る ＞", "/jp/category/1/", class: "newcomers__group__header__more"
      .newcomers__group__list
        - @items.each do |item|
          = link_to item_path(item.id) do
            .newcomers__group__list__item
              = image_tag item.image, class: "newcomers__group__list__item__image"
              .newcomers__group__list__item__price
                = item.price
              .newcomers__group__list__item__name
                .newcomers__group__list__item__name__text
                  = item.name
  .newcomers
    .newcomers__group
      .newcomers__group__header{name: "scroll-1"}
        %h3{ id: "louisvuitton" } ルイヴィトン新着アイテム
        = link_to "もっと見る ＞", "/jp/category/1/", class: "newcomers__group__header__more"
      .newcomers__group__list
        - @items.each do |item|
          = link_to item_path(item.id) do
            .newcomers__group__list__item
              = image_tag item.image, class: "newcomers__group__list__item__image"
              .newcomers__group__list__item__price
                = item.price
              .newcomers__group__list__item__name
                .newcomers__group__list__item__name__text
                  = item.name
  .newcomers
    .newcomers__group
      .newcomers__group__header{name: "scroll-1"}
        %h3{ id: "supreme" } シュプリーム新着アイテム
        = link_to "もっと見る ＞", "/jp/category/1/", class: "newcomers__group__header__more"
      .newcomers__group__list
        - @items.each do |item|
          = link_to item_path(item.id) do
            .newcomers__group__list__item
              = image_tag item.image, class: "newcomers__group__list__item__image"
              .newcomers__group__list__item__price
                = item.price
              .newcomers__group__list__item__name
                .newcomers__group__list__item__name__text
                  = item.name
  .newcomers
    .newcomers__group
      .newcomers__group__header{name: "scroll-1"}
        %h3{ id: "nike" } ナイキ新着アイテム
        = link_to "もっと見る ＞", "/jp/category/1/", class: "newcomers__group__header__more"
      .newcomers__group__list
        - @items.each do |item|
          = link_to item_path(item.id) do
            .newcomers__group__list__item
              = image_tag item.image, class: "newcomers__group__list__item__image"
              .newcomers__group__list__item__price
                = item.price
              .newcomers__group__list__item__name
                .newcomers__group__list__item__name__text
                  = item.name
= render 'layouts/footer'
